@using IdentityLibrary.Models
@model UserCreateVM

<form asp-action="Create" method="post" asp-controller="Home" class="form-group">
    <div class="mb-3">
        <label>Username</label>
        <input type="text" class="form-control" asp-for="@Model.Username" 
          autocomplete="off" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control" asp-for="@Model.Email"
                autocomplete="off" />
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" asp-for="@Model.Password"
                autocomplete="off" />
    </div>
    <div class="mb-3">
        <label>Confirm Password</label>
        <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" autocomplete="off"  />
    </div>
    <div class="mb-3">
        <label>Gender</label>
        <input type="text" class="form-control" asp-for="@Model.Gender"
                autocomplete="off" />
    </div>

    <button type="submit" class="btn btn-primary">
        Register
    </button>

    <div asp-validation-summary="ModelOnly" class="text-danger lead">
    </div>
</form>
